*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
	margin: 0px;
    /* min-height: 100vh; */
    height: 100vh;
    /*width: 100vw;*/
    background-color: #faebd781;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin: 0px;
}

h1{font-size: 64px;}

h2{font-size: 56px;}

h3{font-size: 48px;}

h4{font-size: 40px;}

h5{font-size: 32px;}

h6{font-size: 24px;}

p{font-size: 18px;}

a{
    /* color: #2432cc; */
    /*color: purple;*/
	text-decoration: none;
}

input{padding: 4px 16px}

/* main{
	background-color:#9b9b9b;
	padding: 10px;
    min-height: calc(100vh - 20px);
    Com 19px ou menos na subtração do min-height, uma barra branca aparece na página, no fim
} */

table, tr, td, th{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding: 20px;
}

th{
    border-bottom: black solid 1px;
}

td{
    background-color: #f0f8ff66;
}

.erro{color: red;}
.editar{color:black;}

.bg-index{
    background-image: url(../imagens/blueskyindex.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-origin: border-box;
}

.d-block{display: block;}
.d-flex{display: flex;}
.d-inline{display: inline;}

.p-relative{position: relative;}
.p-fixed{position: fixed;}
.p-absolute{position: absolute;}

.flex-dir-col{flex-direction: column;}

.mg-auto{margin: auto;}
.m-t-respiro-p{margin-top: 5px;}
.m-t-respiro-m{margin-top: 7px;}
.m-t-respiro-g{margin-top: 12px;}
.m-t-25{margin-top: 20vh;}
.m-t-10{margin-top: 10vh;}
.m-t-40{margin-top: 40vh;}
.m-w-20{min-width: 20vw;}

.pd-mp{padding: 1px 2px;}
.pd-p{padding: 2px 4px;}
.pd-m{padding: 4px 8px;}
.pd-g{padding: 8px 16px;}
.pd-mg{padding: 16px 32px;}

.ler-centro{max-width: 800px; margin: auto;}
.ler-esquerda{max-width: 800px; margin-right: auto;}
.ler-direita{max-width: 800px; margin-left: auto;}

.txt-d-none{
    text-decoration: none;
    color: black;
    cursor: default;
}

#ic-ip-index{
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
}

.font-ip-index{
    font-size: 24px;
}

.alg-item-centro{align-items: center;}
.alg-self-centro{align-self: center;}

.alg-text-centro{text-align: center;}
.alg-text-left{text-align: left;}
.alg-text-right{text-align: right;}

.just-cont-centro{justify-content: center;}

.fw-l{font-weight: lighter;}

.flex-1{flex: 1;}
.flex-2{flex: 2;}
.flex-3{flex: 3;}
.flex-4{flex: 4;}
.flex-5{flex: 5;}
.flex-6{flex: 6;}

.max-w-p{min-width: 200px;}
.max-w-m{min-width: 300px;}
.max-w-g{min-width: 400px;}

.max-g-p{min-height: 40px;}
.max-g-m{min-height: 120px;}
.max-g-g{min-height: 240px;}

.vh-65{height: 65vh;}
.vh-7{height: 7vh;}

.of-h{overflow: hidden;}

#alterar-senha{
    align-self: center;
    text-align: center;
    flex: 0;
    display: block;
    margin: auto;
}

.container{
    margin: auto;
    max-width: 1064px;
    width: 100%;
}

.img-menor{
    height: 200px;
    width: 250px;
}

.img-media{
    height: 300px;
    width: 420px;
}

.img-maior{
    /* height: 440px;
    width: 548px; */
    height: 50vh;
    width: 35vw;
    min-width: 500px;
}

/*Tentar ver outra alternativa, odeio position absolute*/
.logo{
    top: 20px;
    position: absolute;
}

.cool-input{
    border: black solid 2px;
    background: none;
    border-bottom-right-radius: 50px;
    height: 5vh;
    border-top-left-radius: 5px;
    width: 20vw;
}

.ic-pos{
    right: 40px;
    top: 12px;
}
.ic-btn{
    top: 12px;
    right: 12px;
}

.cool-btn-login{
    background: none;
    border: black solid 2px;
    padding: 5px 10px;
    border-radius: 20px;
    text-align: left;
    font-size: 19px;    
    min-width: 150px;
}

.cool-btn-action{
    background: none;
    border: black solid 2px;
    padding: 5px 10px;
    border-radius: 20px;
    text-align: left;
    font-size: 19px;    
}

.input-custom{
    border-width: 2px;
    border-radius: 4px;
    margin: 0;
    text-align: left;
    padding: 8px 5px 3px 2px;
}